.Favorites {
  height: 225px;
  width: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.Favorites img:hover {
  border: 2px solid white;
}

.Favorites .image-p:hover ~ .image {
  border: 2px solid white;
}

.Favorites img {
  height: 225px;
  width: 225px;
  object-fit: cover;
  border-radius: 10px;
  background-color: black;
  opacity: 75%;
  z-index: 1;
  box-sizing: border-box;
}

.Favorites .image-container {
  background-color: black;
  border-radius: 10px;
  height: 225px;
  box-shadow: 6px 6px 0 0 black;
  box-sizing: border-box;
}

.Favorites p {
  position: absolute;
  margin-left: 10px;
  z-index: 2;
  width: 200px;
  text-decoration: none;
  font-style: none;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.Favorites .heart-container {
  margin-top: -30px;
  margin-left: 10px;
  z-index: 2;
  position: absolute;
}

.Favorites .heart {
  font-size: 20px;
  z-index: 4;
  color: white;
}
.Favorites .star-container {
  position: absolute;
  z-index: 4;
  margin-top: -20px;
  margin-left: 115px;
}

.Favorites .star {
  z-index: 4;
  color: white;
}

.Favorites .stars {
  display: flex;
}

@media only screen and (min-width: 425px) {
  .Favorites {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

  .Favorites img {
    height: 150px;
    width: 150px;
    object-fit: cover;
  }

  .Favorites .image-container {
    background-color: black;
    border-radius: 10px;
    height: 150px;
  }

  .Favorites p {
    width: 135px;
  }

  .Favorites .star {
    line-height: 2px;
  }

  .Favorites .star-container {
    margin-left: 45px;
    margin-top: -15px;
  }

  .Favorites .rating {
    margin-top: -5px;
  }
}

@media only screen and (min-width: 768px) {
  .Favorites {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Favorites img {
    height: 175px;
    width: 175px;
    object-fit: cover;
  }

  .Favorites .image-container {
    background-color: black;
    border-radius: 10px;
    height: 175px;
  }

  .Favorites p {
    width: 150;
  }

  .Favorites .star-container {
    margin-left: 70px;
    margin-top: -13px;
  }

  .Favorites .rating {
    margin-top: -5px;
  }
}
