.Header {
  width: 101%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1e;
  border-bottom: 2px solid white;
}

.Header .header-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 0px 20px;
  color: white;
}

.Header .header-top p {
  display: none;
}

.Header .header-mid-container {
  display: flex;
}

.Header .header-middle {
  display: flex;
  background-image: url(../images/retrowavyblah.jpg);
  flex-direction: row;
  width: fit-content;
  justify-content: flex-end;
  height: 40px;
}

.Header .gap {
  height: 100%;
  width: 5px;
  background-color: #1e1e1e;
  z-index: 10;
}

.Header .header-button {
  background-color: #1e1e1e;
  height: 35px;
  width: 70px;
  color: white;
  border: none;
  border-bottom: 5px solid transparent;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 14px;
  border-radius: 0;
}

.Header .header-button:hover {
  background-color: transparent;
  transition: 0.5s;
}

.Header .header-bottom {
  display: flex;
  align-items: center;
  width: 90%;
  padding: 20px 20px;
}

.Header h1 {
  font-size: 1.5em;
  color: white;
  width: 175px;
}

.Header #search {
  width: 100%;
  padding: 10px;
}

.Header form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Header .login {
  padding: 5px 10px;
}

.Header .search {
  padding: 10px;
}

.Header .jokes {
  color: white;
  margin: 0px 20px;
}

.Header .welcome {
  color: white;
}

@media only screen and (min-width: 425px) {
  .Header .login {
    padding: 10px 25px;
  }

  .Header .search {
    width: 75px;
  }
}

@media only screen and (min-width: 768px) {
  .Header .button-container {
    display: flex;
    flex-direction: row;
  }

  .Header .button-container button {
    width: 50px;
  }

  .Header .header-top {
    flex-direction: row;
    justify-content: space-between;
  }

  .Header .header-top p {
    display: flex;
  }

  .Header .header-mid-container {
    justify-content: flex-end;
  }

  .Header .header-middle {
    display: flex;
    background-image: url(../images/retrowavyblah.jpg);
    flex-direction: row;
    width: fit-content;
    justify-content: center;
    height: 50px;
  }

  .Header .gap {
    height: 100%;
    width: 5px;
    background-color: #1e1e1e;
    z-index: 10;
  }

  .Header .header-button {
    background-color: #1e1e1e;
    height: 45px;
    width: 100px;
    color: white;
    border: none;
    border-bottom: 5px solid transparent;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0;
  }
}
