.Header {
  width: 100%;
  background-color: #1e1e1e;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 0px 20px;
}

.Header .header-bottom {
  display: flex;
  align-items: center;
  width: 95%;
  padding: 20px 20px;
}

.Header h1 {
  font-size: 1.5em;
  color: white;
}

.Header #search {
  width: 100%;
  padding: 10px;
}

.Header form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Header .login {
  padding: 5px 10px;
}

.Header .search {
  padding: 10px;
}

.Header .jokes {
  color: white;
  margin: 0px 20px;
}

@media only screen and (min-width: 425px) {
  .Header .header-top {
    justify-content: space-between;
  }
  .Header h1 {
    font-size: 2em;
  }

  .Header .login {
    padding: 10px 25px;
  }

  .Header .search {
    width: 75px;
  }
}
