.InfoCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
  margin-top: 10px;
  color: white;
}

.InfoCard div {
  border: 1px solid white;
  width: 45%;
  height: 40%;
}
