.InfoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: white;
  width: 100%;
}

.InfoCard .step-by-step {
  height: 300px;
  border: 1px solid white;
  width: 95%;
  display: flex;
}

.InfoCard .nutrition-div {
  border: 1px solid white;
  height: 300px;
  width: 95%;
  display: flex;
  flex-direction: column;
}

.InfoCard .nutrition-div h2 {
  text-align: center;
  font-size: 16px;
}

.InfoCard .nutrition {
  display: flex;
  padding: 10px;
  height: 250px;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 12px;
}

.InfoCard .nutrition p {
  width: 120px;
}

.InfoCard .items-needed {
  border: 1px solid white;
  width: 95%;
}

.InfoCard .price-div {
  border: 1px solid white;
  width: 95%;
}

.InfoCard .items {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}

.InfoCard .items h3 {
  font-size: 16px;
  text-align: center;
}

.InfoCard .items-needed h2 {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .InfoCard {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .InfoCard .step-by-step {
    width: 40%;
    height: 500px;
  }

  .InfoCard .nutrition-div {
    width: 40%;
    height: 500px;
  }

  .InfoCard .items-needed {
    width: 40%;
    height: 500px;
  }

  .InfoCard .price-div {
    width: 40%;
    height: 500px;
  }
}
