.InfoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: white;
  width: 90%;
  margin-left: 5%;
}

.InfoCard .step-by-step {
  background-color: black;
  height: 300px;
  border: 1px solid white;
  width: 95%;
  display: flex;
  flex-direction: column;
}

.InfoCard .note-div {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  background-color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid white;
}

.InfoCard .note-div h2 {
  font-size: 16px;
}

.InfoCard .add-note {
  width: 100%;
}

.InfoCard .add-note form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.InfoCard .picture-div {
  height: fit-content;
  font-size: 12px;
  text-align: center;
}

.InfoCard .picture-div h2 {
  font-size: 16px;
  text-align: center;
}

.InfoCard .picture-div img {
  width: 150px;
  height: 150px;
}

.InfoCard .button-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 350px;
}

.InfoCard .button-div button {
  width: 80px;
  height: 40px;
}

.InfoCard .nutrition-div {
  background-color: black;
  border: 1px solid white;
  height: 300px;
  width: 95%;
  display: flex;
  flex-direction: column;
}

.InfoCard .nutrition-div h2 {
  text-align: center;
  font-size: 16px;
}

.InfoCard .nutrition {
  display: flex;
  padding: 10px;
  height: 250px;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 12px;
}

.InfoCard .nutrition p {
  width: 120px;
}

.InfoCard .items-needed {
  background-color: black;
  border: 1px solid white;
  width: 95%;
}

.InfoCard .items-needed h2 {
  font-size: 16px;
  text-align: center;
}

.InfoCard .price-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  border: 1px solid white;
  width: 95%;
  font-size: 12px;
  line-height: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.InfoCard .price-div h2 {
  font-size: 16px;
  text-align: center;
}

.InfoCard .prices {
  display: flex;
  width: 100%;
}

.InfoCard .bold {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  margin: 0 5px 0 5px;
  font-size: 12px;
  flex: 1;
}

.InfoCard .bolder {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  margin: 0 5px 0 5px;
  font-size: 12px;
  flex: 2;
}

.InfoCard .items {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}

.InfoCard .items h3 {
  font-size: 16px;
  text-align: center;
}

.InfoCard .items-needed h2 {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .InfoCard {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .InfoCard .note-div {
    width: 100%;
  }

  .InfoCard .step-by-step {
    width: 49.75%;
    height: 400px;
  }

  .InfoCard .nutrition-div {
    width: 49.75%;
    height: 400px;
  }

  .InfoCard .items-needed {
    width: 49.75%;
    height: 750px;
    border-bottom-left-radius: 15px;
  }

  .InfoCard .price-div {
    width: 49.75%;
    height: 750px;
    border-bottom-left-radius: 0px;
  }
}
