.StepByStep {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: white;
}

.StepByStep .directions {
  width: 100%;
  height: 500px;
  border: 1px solid white;
  background-color: #1e1e1e;
  margin-top: 20px;
}

.StepByStep .directions-container {
  height: 350px;
}

.StepByStep .directions h2 {
  text-align: center;
}

.StepByStep .button-container {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
}

.StepByStep .timer {
  width: 100%;
  height: 500px;
  border: 1px solid white;
}
