.StepCard {
  background-color: #1e1e1e;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  padding: 10px;
  margin: 20px;
  align-items: center;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.StepCard h2 {
  font-size: 18px;
}

.StepCard .Step-container {
  width: 100%;
}

.StepCard .ingredients {
  display: flex;
}

.StepCard .ingredients p {
  margin-right: 10px;
}
