.StepCard {
  background-color: gray;
  color: white;
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0;
  width: 98%;
}

.StepCard .Step-container {
  width: 100%;
}

.StepCard .ingredients {
  display: flex;
}

.StepCard .ingredients p {
  margin-right: 10px;
}
