.Timer {
  color: white;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 45px;
  background-color: #1e1e1e;
  height: fit-content;
  margin-top: 50px;
  border-radius: 10px;
}

.Timer .title {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 50px;
  width: 90%;
}

.Timer .title button {
  height: 40px;
  margin-top: 15px;
}
