.TimerCard {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
}

.TimerCard .timer-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TimerCard .timer-left button {
  margin-left: 5px;
  padding: 5px;
}
