.TrendingRecipes {
  background-color: #1e1e1e;
  background-size: auto;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.TrendingRecipes .favorite {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.TrendingRecipes .favorite-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.TrendingRecipes .favorite-container h2 {
  width: 250px;
  text-align: center;
}

.TrendingRecipes .trending-recipe-array {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.TrendingRecipes h2 {
  color: white;
  width: 220px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .TrendingRecipes {
    padding: 20px;
    border-radius: 15px;
  }

  .TrendingRecipes h2 {
    color: white;
  }
}
