/* resets & global styles */

body {
  background-color: #050505;
  background-image: url(./images/retro-background.jpg);
  background-size: auto;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

body a {
  text-decoration: none;
  color: white;
}
